*{
    margin: 0;
    padding: 0;
}
.fira-sans{
    font-family: Fira Sans;
}
/* header section */
.nav-bar{
    width: 1600px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px 24px 160px;
    margin-bottom: 20px;
}
.nav-bar ul{
    list-style: none;
}
.nav-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 32px;
}
.btn-praimary{
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
}